/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Css variables list
# Generic
# Base
	- Typography
	- Elements
	- Links
	- Forms
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
	- Default Button
	- Preloader
# Utilities
	- Accessibility
	- Alignments
# Common Css
# Preloader
# Header
	- Menu
	- Small menu
# Breadcrumbs
# Blog page
# Sidebar
# Page.php
# Single Post
# Archive.php
# Search.php
# 404.php
# Footer

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Css variables list
--------------------------------------------------------------*/
:root {
  --color-white: #ffffff;
  --color-white-lilac: #f3f5fb;
  --color-porcelain: #f3f4f5;
  --color-french-gray: #c7c7cf;
  --color-trout: #494f5e;
  --color-firefly: #0c1428;
  --color-manatee: #8f90a0;
  --color-malibu: #8ba4f9;
  --color-outrageous-orange: #fe5b36;
  --lprd-heading-one: 2.5rem;
  --lprd-heading-two: 1.75rem;
  --lprd-widget-title: 1.25em;
}

/*--------------------------------------------------------------
# Generic CSS
--------------------------------------------------------------*/
html {
  font-size: 16px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

pre {
  font-size: 1em;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-manatee);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--color-manatee);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--color-manatee);
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
html {
  font-size: 16px;
}

body {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  color: var(--color-trout);
  background: var(--color-white);
  font-weight: 400;
  word-wrap: break-word;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", Sans-serif;
  color: var(--color-firefly);
  clear: both;
  line-height: 1.5;
}

h1,
.h1 {
  font-size: 48px;
  font-size: 3.2rem;
  font-weight: 600;
}

h2,
.h2 {
  font-size: 34px;
  font-size: 2.267rem;
  font-weight: 600;
}

h3,
.h3 {
  font-size: 26px;
  font-size: 1.733rem;
  font-weight: 600;
}

h4,
.h4 {
  font-size: 22px;
  font-size: 1.467em;
  font-weight: 600;
}

h5,
.h5 {
  font-size: 18px;
  font-size: 1.2rem;
  font-weight: 500;
}

h6,
.h6 {
  font-size: 15px;
  font-size: 1rem;
  font-weight: 500;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
  color: var(--color-firefly);
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.h1 a:hover,
.h2 a:hover,
.h3 a:hover,
.h4 a:hover,
.h5 a:hover,
.h6 a:hover {
  color: var(--color-malibu);
}

blockquote {
  position: relative;
  font-weight: 400;
  margin: 15px 0;
  line-height: 1.5;
  padding: 20px 30px;
  background: var(--color-white-lilac);
  border-left: 5px solid var(--color-porcelain);
  border-left: 5px solid var(--color-malibu);
}

blockquote cite {
  font-style: normal;
  font-weight: 700;
  display: block;
  margin-top: 15px;
}

blockquote p:last-child {
  margin: 0;
}

code {
  color: var(--color-outrageous-orange);
}

dl {
  margin-bottom: 1.6em;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1.6em;
}

table,
th,
td {
  border: 1px solid var(--color-french-gray);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.6em;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

th {
  border-width: 0 1px 1px 0;
  font-weight: 600;
}

td {
  border-width: 0 1px 1px 0;
}

th,
td {
  padding: 0.4em;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

iframe {
  width: 100%;
}

p {
  margin-bottom: 15px;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: var(--color-porcelain);
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

abbr,
acronym {
  border-bottom: 1px dotted var(--color-white-lilac);
  cursor: help;
}

mark,
ins {
  background: var(--color-white-lilac);
  text-decoration: none;
}

big {
  font-size: 125%;
}

/* Elements
--------------------------------------------- */
hr {
  background-color: var(--color-french-gray);
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

ol {
  list-style: decimal;
  padding-left: 15px;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1em 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* Links
--------------------------------------------- */
a {
  color: var(--color-firefly);
  text-decoration: none;
  transition: all 0.3s;
}

a:hover,
a:focus,
a:active {
  color: var(--color-malibu);
}

.entry-content a {
	text-decoration: underline;
	color: var(--color-malibu);
}

.entry-content a:hover,
.entry-content a:focus-visible {
	text-decoration: none;
	color: var(--color-outrageous-orange);
}

/* a:focus {
  outline: thin dotted;
} */

a:focus img{
  outline-style: auto;
}

a:hover,
a:active {
  outline: 0;
}

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  overflow: hidden;
  padding: 14px 25px;
  width: auto;
  cursor: pointer;
  color: var(--color-porcelain);
  background-color: var(--color-malibu);
  border-radius: 3px;
  border: 0;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  transition: all 0.4s;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: var(--color-outrageous-orange);
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  background-color: var(--color-outrageous-orange);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: var(--color-firefly);
  border: 1px solid var(--color-french-gray);
  border-radius: 3px;
  padding: 10px 8px;
  line-height: 1;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid var(--color-french-gray);
}

textarea {
  width: 100%;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Navigation
--------------------------------------------- */
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
}

.comment-navigation .nav-previous a,
.posts-navigation .nav-previous a,
.post-navigation .nav-previous a,
.comment-navigation .nav-next a,
.posts-navigation .nav-next a,
.post-navigation .nav-next a {
  display: inline-block;
  overflow: hidden;
  padding: 14px 25px;
  width: auto;
  cursor: pointer;
  word-break: break-all;
  color: var(--color-porcelain);
  background-color: var(--color-malibu);
  border-radius: 3px;
  font-style: normal;
  font-weight: 600;
  font-size: 0.867rem;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.comment-navigation .nav-previous a:hover,
.posts-navigation .nav-previous a:hover,
.post-navigation .nav-previous a:hover,
.comment-navigation .nav-next a:hover,
.posts-navigation .nav-next a:hover,
.post-navigation .nav-next a:hover {
  background-color: var(--color-outrageous-orange);
}

.page-links {
  clear: both;
  margin: 30px 0 0;
}
.page-links .post-page-numbers {
  display: inline-block;
  color: var(--color-porcelain);
  background-color: var(--color-malibu);
  border-radius: 100%;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  padding: 3px 14px;
  margin: 0 10px 10px 0;
  line-height: 30px;
  font-weight: 700;
}
.page-links .post-page-numbers:hover,
.page-links span.post-page-numbers.current {
  color: var(--color-porcelain);
  background-color: var(--color-outrageous-orange);
}
.page-links > span:first-child,
.page-links a:first-child {
  margin-left: 5px;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
  display: block;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

/* Comments
--------------------------------------------- */
.comments-area {
  margin-top: 50px;
}

.comments-area .comment-reply-title,
.comments-area .comments-title {
  position: relative;
  display: inline-block;
  margin-bottom: 25px;
  padding: 0 0 11px 0;
  font-size: 1.375rem;
  color: var(--color-firefly);
  font-weight: 500;
}

.comments-area .comment-reply-title::after,
.comments-area .comments-title::after {
  content: "-----";
  position: absolute;
  width: 49px;
  left: 0;
  bottom: 0;
  margin-top: 12px;
  color: transparent;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
  -webkit-text-decoration-color: var(--color-malibu);
  text-decoration-color: var(--color-malibu);
}

.comments-area .comment-list {
  padding: 0;
}

.comments-area ul.comment-list > li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  border-bottom: 1px solid;
  border-color: var(--color-white-lilac);
}

.comments-area ul.comment-list > li:last-child {
  border-bottom: 0;
}

.comments-area ul.comment-list ol {
  padding: 0 0 0 20px;
  margin-left: 0;
}

.comments-area ul.comment-list ol > li {
  padding-left: 5px;
}

.comments-area ul.comment-list ul {
  padding-left: 0;
}

.comments-area ul.comment-list li {
  padding-left: 20px;
}

.comments-area ul.comment-list li ul {
  margin-left: 0;
}

.comments-area ul.comment-list .comment-body {
  margin: 0 0 5px 0;
}

.comment-list .comment-content {
  margin: 10px 0 0 0;
}

.comments-area ul.comment-list ul.children {
  padding-left: 25px;
}

.comments-area ul.comment-list ul.children {
  list-style: none;
  margin-top: 20px;
}

.comments-area ul.comment-list ul.children li {
  padding: 0;
}

.comments-area ul.comment-list ul.children li:before {
  content: none;
}

.comment-list .comment-author {
  color: var(--color-firefly);
  font-weight: 600;
}

.comment-list .comment-author .fn {
  text-transform: capitalize;
}

.comment-list .comment-author a {
  color: var(--color-firefly);
}

.comment-list .comment-author img {
  width: 53px;
  height: 53px;
  border-radius: 100%;
}

.comment-list span.says {
  font-weight: 400;
  font-style: italic;
}

.comment-list .comment-metadata {
  font-size: 0.813em;
  margin: 5px 0 0;
  font-weight: 400;
}

.comment-list .comment-metadata a {
  font-weight: 600;
}

.comment-list .comment-metadata a.comment-edit-link {
  font-style: italic;
}

.comment-list .comment-body .comment-reply-link {
  font-size: 0.875em;
  font-weight: 500;
  font-style: italic;
}

.comments-area ul.page-numbers {
  margin-bottom: 25px;
}

.comment-respond {
  margin-top: 50px;
}

.comment-content a {
  word-wrap: break-word;
  text-decoration: underline;
  color: var(--color-malibu);
}

.comment-content a:hover,
.comment-content a:focus-visible {
	text-decoration: none;
	color: var(--color-outrageous-orange);
}

.bypostauthor {
  display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
  margin-bottom: 40px;
}

.widget::before,
.widget::after {
  display: block;
  clear: both;
  content: "";
}

.lprd-widget-title {
  overflow: hidden;
}

.widget-title {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  font-size: var(--lprd-widget-title);
  color: var(--color-firefly);
  font-weight: 600;
  word-break: break-word;
}

.widget-title:after {
  content: "-----";
  position: absolute;
  width: 49px;
  left: 0;
  bottom: -6px;
  color: transparent;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
  -webkit-text-decoration-color: var(--color-malibu);
  text-decoration-color: var(--color-malibu);
}

.widget-title .rsswidget {
  font-size: 1.2rem;
  color: var(--color-firefly);
  font-weight: 700;
}

.widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.widget ul li {
  margin: 10px 0;
  text-transform: capitalize;
}

.widget > ul > li:first-child,
.widget ul:first-child > li:first-child {
  margin-top: 0;
}

.widget > ul > li:first-child {
  margin-top: 0;
}

.widget ul li:last-child,
.widget ul li ul li:last-child {
  margin-bottom: 0;
}

.widget ul ul {
  padding-left: 15px;
}

.widget ul ul ul {
  padding-left: 5px;
}

.widget,
.widget a {
  font-size: 1rem;
  font-weight: 400;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.widget_rss li {
  margin-bottom: 15px;
}

.widget select {
  width: 100%;
  max-width: 100%;
  padding: 10px 12px;
  border-radius: 3px;
  border: 1px solid var(--color-french-gray);
}

.widget .tagcloud {
  display: block;
}

.widget_tag_cloud .tagcloud a {
  font-size: 1rem !important;
  font-weight: 400;
  display: inline-block;
  padding: 6px 15px;
  margin: 0 5px 8px 0;
  border: 1px solid var(--color-french-gray);
  border-radius: 2px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  color: var(--color-trout);
  background-color: var(--color-white-lilac);
  text-transform: capitalize;
}

.widget_tag_cloud .tagcloud a:hover {
  background-color: var(--color-white);
  color: var(--color-malibu);
}

.widget.widget_categories li.cat-item,
.widget.widget_archive ul li {
  text-align: right;
  overflow: hidden;
}

.widget.widget_categories li.cat-item a,
.widget.widget_archive ul li a {
  float: left;
}

.widget.widget_calendar th,
.widget.widget_calendar td {
  padding: 0.2em;
  text-align: center;
}

.widget.widget_calendar tfoot td {
  text-align: initial;
}

.widget.widget_calendar td#today {
  color: var(--color-malibu);
  -webkit-box-shadow: inset 0 0 6px var(--color-malibu);
  box-shadow: inset 0 0 6px var(--color-malibu);
  font-weight: 500;
}

.widget.widget_rss ul li {
  margin-bottom: 20px;
}

.widget.widget_rss ul li:last-child {
  margin-bottom: 0;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
  display: block;
}

/* Default Button
--------------------------------------------- */
.lprd-default-btn {
  display: inline-block;
  overflow: hidden;
  padding: 14px 25px;
  width: auto;
  cursor: pointer;
  color: var(--color-porcelain);
  background-color: var(--color-malibu);
  border-radius: 3px;
  font-style: normal;
  font-weight: 600;
  font-size: 0.867rem;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.4s;
}
.lprd-default-btn:hover {
  color: var(--color-porcelain);
  background-color: var(--color-outrageous-orange);
}

/* Preloader
--------------------------------------------- */
.lprd-preloader {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: var(--color-white);
  z-index: 999999;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lprd-preloader .dash {
  margin: 0 15px;
  width: 35px;
  height: 15px;
  border-radius: 8px;
  background: var(--color-malibu);
}

.lprd-preloader .uno {
  margin-right: -18px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

.lprd-preloader .dos {
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-animation: spin2 3s linear infinite;
  animation: spin2 3s linear infinite;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.lprd-preloader .tres {
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-animation: spin3 3s linear infinite;
  animation: spin3 3s linear infinite;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.lprd-preloader .cuatro {
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-animation: spin4 3s linear infinite;
  animation: spin4 3s linear infinite;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  30% {
    -webkit-transform: rotate(370deg);
    transform: rotate(370deg);
  }
  35% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  30% {
    -webkit-transform: rotate(370deg);
    transform: rotate(370deg);
  }
  35% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  35% {
    -webkit-transform: rotate(-190deg);
    transform: rotate(-190deg);
  }
  40% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  78% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  95% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  98% {
    -webkit-transform: rotate(-370deg);
    transform: rotate(-370deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes spin2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  35% {
    -webkit-transform: rotate(-190deg);
    transform: rotate(-190deg);
  }
  40% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  78% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  95% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  98% {
    -webkit-transform: rotate(-370deg);
    transform: rotate(-370deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes spin3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  27% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  45% {
    -webkit-transform: rotate(190deg);
    transform: rotate(190deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  62% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  80% {
    -webkit-transform: rotate(370deg);
    transform: rotate(370deg);
  }
  85% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  27% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  45% {
    -webkit-transform: rotate(190deg);
    transform: rotate(190deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  62% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  80% {
    -webkit-transform: rotate(370deg);
    transform: rotate(370deg);
  }
  85% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  38% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  65% {
    -webkit-transform: rotate(-370deg);
    transform: rotate(-370deg);
  }
  75% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes spin4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  38% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  65% {
    -webkit-transform: rotate(-370deg);
    transform: rotate(-370deg);
  }
  75% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {
  /*rtl:ignore*/
  float: left;

  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  /*rtl:ignore*/
  float: right;

  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
 # Header
 --------------------------------------------------------------*/
  .lprd-header-area {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-porcelain);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 15px 0;
}

.site-title {
  margin: 0px;
}

.site-title a {
  text-decoration: none;
  text-transform: capitalize;
}

.site-description {
  margin: 1px;
}

/* Menu
--------------------------------------------- */
.main-navigation {
  margin: 15px 0px;
  padding: 0;
  text-align: right;
}

.screen-reader-text.lprd-menu-close {
  display: none;
}
.screen-reader-text.lprd-menu-close:focus {
  display: none;
}

.main-navigation .page_item_has_children > ul,
.main-navigation .menu-item-has-children > ul {
  position: absolute;
  position: absolute;
  top: -1000px;
  z-index: 99;
  background-color: var(--color-white);
  -webkit-box-shadow: 0 25px 90px rgb(0 0 0 / 5%);
  box-shadow: 0 25px 90px rgb(0 0 0 / 5%);
  padding: 12px 0;
  width: 230px;
  text-align: left;
  border-radius: 0 0 3px 3px;
  border-top: 2px solid var(--color-malibu);
}

.main-navigation ul {
  min-width: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation li {
  display: inline-block;
  position: relative;
  text-align: left;
}

.main-navigation li:last-child {
  margin-right: 0;
}

.main-navigation li.focus > ul,
.main-navigation li:hover > ul {
  top: auto;
  left: auto;
}

.main-navigation li li {
  display: block;
}

.main-navigation li li.focus > ul,
.main-navigation li li:hover > ul {
  right: 100%;
  top: 0;
}

.main-navigation a {
  color: var(--color-trout);
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  font-size: 1rem;
}

.main-navigation li li a {
  padding: 6px 15px;
}

.main-navigation a:hover,
.main-navigation li:hover > a,
.main-navigation li.focus > a,
.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a {
  color: var(--color-malibu);
}

.main-navigation .page_item_has_children > a::before,
.main-navigation .menu-item-has-children > a::before {
  content: "";
  border: solid var(--color-trout);
  border-width: 0 2px 2px 0;
  display: block;
  padding: 3px;
  position: absolute;
  right: 8px;
  top: calc(47%);
  -webkit-transform: rotate(45deg) translateY(calc(-50%));
  -ms-transform: rotate(45deg) translateY(calc(-50%));
  transform: rotate(45deg) translateY(calc(-50%));
}

/* Small menu
--------------------------------------------- */
.menu-toggle-area {
  display: none;
}
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.lprd-breadcrumbs-area {
  padding: 80px 0 80px;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 0;
  background-color: var(--color-white-lilac);
  text-align: center;
}

.lprd-breadcrumbs .lprd-breadcrumbs-title {
  position: relative;
  z-index: 0;
  font-size: var(--lprd-heading-one);
  line-height: 1.2;
  color: var(--color-firefly);
  text-transform: capitalize;
}

ul.lprd-breadcrumb-link {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.lprd-breadcrumb-link li {
  display: inline-block;
  margin-right: 7px;
}
ul.lprd-breadcrumb-link li:last-child {
  margin: 0;
}

.lprd-breadcrumbs a {
  font-weight: 500;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.lprd-breadcrumbs a:last-child {
  margin: 0;
}

.lprd-breadcrumbs a i {
  margin-right: 10px;
}

.lprd-breadcrumbs span.breadcrumb-sperarator {
  margin: 0 15px 0 0;
}

/*--------------------------------------------------------------
# Blog page
--------------------------------------------------------------*/
.lprd-blog-page {
  padding: 0 0 80px 0;
}

body.lprd-left-sidebar .lprd-default-page-container {
  padding-left: 30px;
}

body.lprd-right-sidebar .lprd-default-page-container {
  padding-right: 30px;
}

.lprd-default-page-container,
.lprd-sidebar-border {
  margin-top: 80px;
}

.lprd--post-item {
  display: block;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  margin-bottom: 60px;
}
.lprd--post-item.sticky {
  position: relative;
}
.lprd--post-item.sticky:before {
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: var(--color-malibu);
  color: var(--color-white);
}
.lprd--post-item:last-child {
  margin-bottom: 0;
}

.lprd--post-item .lprd--post-title,
.lprd--post-item h2.entry-title {
  font-size: var(--lprd-heading-two);
  line-height: 1.2;
  margin: 0 0 15px;
}

.lprd--post-item a {
  /* color: var(--color-firefly); */
  /* color: var(--color-malibu); */
}

.lprd--post-item a:hover {
  /* color: var(--color-malibu); */
  /* color: var(--color-outrageous-orange); */
}
.lprd--post-item .lprd--post-thumb-area {
  position: relative;
  overflow: hidden;
  line-height: 0;
}
.lprd--post-item .lprd--post-thumb {
  position: relative;
  width: 100%;
  height: 100%;
}
.lprd--post-item .lprd--post-thumb img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.lprd--post-item .lprd--post-thumb img {
  width: 100%;
  height: 100%;
}

.lprd--post-item .lprd--post-content-area {
  display: block;
  padding: 30px;
}
.lprd--post-item .lprd--post-cat {
  margin-bottom: 20px;
}
.lprd--post-item .lprd--post-cat a {
  display: inline-block;
  padding: 7px 12px;
  border-radius: 3px;
  background: var(--color-malibu);
  color: var(--color-white);
  text-transform: capitalize;
  line-height: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.lprd--post-item .lprd--post-cat a:hover {
  background: var(--color-outrageous-orange);
  color: var(--color-white);
}

.lprd--post-item .lprd--post-title a {
  word-break: break-word;
}
.lprd--post-item .lprd--post-excerpt {
  color: #1b1b1b;
  margin: 0;
  line-height: 1.4;
}
.lprd--post-item .lprd--post-excerpt p {
  margin: 0;
}

.lprd--post-item .lprd--post-meta-wrap {
  position: relative;
  padding: 15px 30px 0;
  overflow: hidden;
  z-index: 0;
}

.lprd--post-item .lprd--post-meta-wrap:before {
  content: "";
  position: absolute;
  top: -4px;
  bottom: -1px;
  z-index: -1;
  border-top: 5px dashed var(--color-french-gray);
  left: -1px;
  right: -1px;
}

.lprd--post-item .lprd--post-meta-wrap ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.lprd--post-item .lprd--post-meta-wrap ul li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
}
.lprd--post-item .lprd--post-meta-wrap ul li:last-child {
  margin-right: 0;
}
.lprd--post-item .lprd--post-meta-wrap ul li a,
.lprd--post-item .lprd--post-meta-wrap ul li span {
  color: var(--color-manatee);
  display: block;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.lprd--post-item .lprd--post-meta-wrap ul li a:hover {
  color: var(--color-outrageous-orange);
}
.lprd--post-item .lprd--post-meta-wrap ul li i {
  margin-right: 7px;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.lprd-sidebar-border {
  overflow: hidden;
  position: relative;
}
.lprd-sidebar-border:before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  z-index: -1;
}
body.lprd-left-sidebar .lprd-sidebar-border:before {
  border-right: 5px dashed var(--color-french-gray);
  left: -1px;
  right: -4px;
}
body.lprd-right-sidebar .lprd-sidebar-border:before {
  border-left: 5px dashed var(--color-french-gray);
  left: -4px;
  right: -1px;
}

body.lprd-left-sidebar .lprd-sidebar {
  padding: 0 30px 0 0;
}
body.lprd-right-sidebar .lprd-sidebar {
  padding: 0 0 0 30px;
}

.lprd-sidebar .widget:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Page.php
--------------------------------------------------------------*/
.lprd-page {
  padding: 0 0 80px 0;
}

.lprd-page-item {
  display: block;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
  border: 1px solid var(--color-white-lilac);
  padding: 30px;
  margin-bottom: 40px;
}

.lprd-page .lprd-page-thumb-area {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

.lprd-page .entry-content {
  margin: 0;
}
.lprd-page .entry-content:before,
.lprd-page .entry-content:after {
  display: block;
  clear: both;
  content: "";
}

.lprd-page header.entry-header h1 {
  font-size: var(--lprd-heading-one);
  line-height: 1.2;
  margin-bottom: 12px;
  word-break: break-word;
}

.lprd-page .entry-meta a {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  color: var(--color-manatee);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.lprd-page .entry-meta a:last-child {
  margin-right: 0;
}

.lprd-page .entry-meta a:hover {
  color: var(--color-malibu);
}

.lprd-page .entry-meta i {
  margin-right: 7px;
}

.lprd-page .entry-content ol {
  padding: 0 0 0 20px;
  margin-left: 0;
}

.lprd-page .entry-content ol li {
  padding-left: 5px;
}

.lprd-page .entry-content ul {
  padding-left: 0;
}

.lprd-page .entry-content li ul {
  margin-left: 0;
}

.lprd-page .entry-content li {
  padding-left: 20px;
}

.lprd-page footer.entry-footer {
  display: block;
  overflow: hidden;
}

.lprd-page footer.entry-footer a.post-edit-link {
  font-size: 19px;
  text-decoration: underline;
}

/*--------------------------------------------------------------
# Single Post
--------------------------------------------------------------*/
.lprd-single-post-item {
  display: block;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
  border: 1px solid var(--color-white-lilac);
  padding: 30px;
  margin-bottom: 40px;
}

.lprd-single-post .lprd-single-post-thumb-area {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

.lprd-single-post .entry-content {
  margin: 0;
}

/* .lprd-single-post .entry-content a {
	color: var(--color-malibu);
}

.lprd-single-post .entry-content a:hover {
	color: var(--color-outrageous-orange);
} */

.lprd-single-post .entry-content:before,
.lprd-single-post .entry-content:after {
  display: block;
  clear: both;
  content: "";
}

.lprd-single-post header.entry-header h1 {
  font-size: var(--lprd-heading-one);
  line-height: 1.2;
  margin-bottom: 12px;
  word-break: break-word;
}

.lprd-single-post .entry-meta a {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  color: var(--color-manatee);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.lprd-single-post .entry-meta a:last-child {
  margin-right: 0;
}

.lprd-single-post .entry-meta a:hover {
  color: var(--color-malibu);
}

.lprd-single-post .entry-meta i {
  margin-right: 7px;
}

.lprd-single-post .entry-content ol {
  padding: 0 0 0 20px;
  margin-left: 0;
}

.lprd-single-post .entry-content ol li {
  padding-left: 5px;
}

.lprd-single-post .entry-content ul {
  padding-left: 0;
}

.lprd-single-post .entry-content li ul {
  margin-left: 0;
}

.lprd-single-post .entry-content li {
  padding-left: 20px;
}

.lprd-single-post footer.entry-footer {
  display: block;
  overflow: hidden;
  margin-top: 30px;
}

.lprd-single-post footer.entry-footer .cat-links {
  display: block;
  margin-bottom: 10px;
}

.lprd-single-post footer.entry-footer .cat-links span,
.lprd-single-post footer.entry-footer .tags-links span {
  padding-right: 5px;
}

.lprd-single-post footer.entry-footer .cat-links a,
.lprd-single-post footer.entry-footer .tags-links a {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-manatee);
}

.lprd-single-post footer.entry-footer .cat-links a:hover,
.lprd-single-post footer.entry-footer .tags-links a:hover {
  color: var(--color-malibu);
}

.lprd-single-post footer.entry-footer .tags-links a:before {
  content: "#";
}

.lprd-single-post footer.entry-footer .edit-link {
  display: block;
  margin-top: 20px;
}

.lprd-single-post footer.entry-footer a.post-edit-link {
  font-size: 19px;
  text-decoration: underline;
}

/*--------------------------------------------------------------
# Archive.php
--------------------------------------------------------------*/
.lprd-archive-page header.page-header {
  margin-bottom: 50px;
}

.lprd-archive-page header.page-header h1 {
  font-size: var(--lprd-heading-one);
  line-height: 1.2;
  margin: 0;
  word-break: break-word;
}

/*--------------------------------------------------------------
# Search.php
--------------------------------------------------------------*/
.lprd-search-page header.page-header {
  margin-bottom: 50px;
}

.lprd-search-page header.page-header h1 {
  font-size: var(--lprd-heading-one);
  line-height: 1.2;
  margin: 0;
  word-break: break-word;
}

/*--------------------------------------------------------------
# 404.php
--------------------------------------------------------------*/
.lprd-404-page {
  padding: 80px 0;
  height: 100vh;
  min-height: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.lprd-404-content h1 {
  font-size: 300px;
  line-height: 1;
  text-shadow: 32.139px 38.302px 10px rgb(5 5 5 / 10%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#bc9cff),
    to(#8ba4f9)
  );
  background-image: -o-linear-gradient(top, #bc9cff 0%, #8ba4f9 100%);
  background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  padding-bottom: 30px;
  margin: 0;
}
a.lprd-default-btn.lprd-404-btn i {
  margin-left: 5px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.lprd-footer-section {
  background-color: var(--color-white-lilac);
  color: var(--color-trout);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.lprd-footer-widget-area {
  padding: 60px 0 0;
}

.lprd-footer-copyright-area {
  border-top: 1px solid var(--color-french-gray);
  padding: 30px 0;
}
