/*Extra large devices (large desktops, 1200px and up)*/
/* @media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
} */

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
  body.lprd-left-sidebar .lprd-default-page-container {
    padding-right: 0;
    padding-left: 15px;
  }
  body.lprd-right-sidebar .lprd-default-page-container {
    padding-left: 0;
    padding-right: 15px;
  }

  body.lprd-left-sidebar .lprd-sidebar {
    padding: 0 15px 0 0;
  }
  body.lprd-right-sidebar .lprd-sidebar {
    padding: 0 0 0 15px;
  }
  .lprd-blog-page .lprd-blog-content {
    padding: 25px;
  }
  .lprd-404-content h1 {
    font-size: 250px;
  }
}

/*For ipad landscape*/
@media (min-width: 992px) and (max-width: 1024px) {
}

/*For Tablet Layout*/
@media only screen and (max-width: 991px) {
  body {
    --lprd-heading-one: 2.1875rem;
    --lprd-heading-two: 1.5rem;
  }
  .lprd-blog-page,
  .lprd-page {
    padding: 0 0 60px 0;
  }
  .lprd-sidebar,
  body.lprd-left-sidebar .lprd-sidebar,
  body.lprd-right-sidebar .lprd-sidebar {
    padding: 0;
  }
  body.lprd-left-sidebar .lprd-default-page-container {
    padding-left: 0;
  }

  body.lprd-right-sidebar .lprd-default-page-container {
    padding-right: 0;
  }
  .lprd-default-page-container,
  .lprd-sidebar-border {
    margin-top: 60px;
  }
  .lprd-sidebar-border:before {
    content: none;
  }
  .lprd-archive-page header.page-header,
  .lprd-search-page header.page-header {
    margin-bottom: 40px;
  }
  .lprd-404-content h1 {
    font-size: 200px;
  }

  .screen-reader-text.lprd-menu-close{
	  display: block;
  }
  .screen-reader-text.lprd-menu-close:focus,
  .screen-reader-text.lprd-menu-close:focus-visible {
    display: block;
    position: relative !important;
    padding: 4px 10px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 25px;
    color: var(--color-outrageous-orange);
    background: none;
    left: 18px;
    top: unset;
    line-height: 25px;
    border-color: transparent;
  }

  /* Blog page
	--------------------------------------------- */
  .lprd--post-item .lprd--post-content-area {
    padding: 25px 20px;
  }

  .lprd--post-item {
    margin-bottom: 40px;
  }
  .lprd--post-item .lprd--post-meta-wrap {
    padding: 15px 20px 0;
  }
  .lprd--post-item .lprd--post-cat {
    margin-bottom: 15px;
  }

  .lprd-single-post-item,
  .lprd-page-item {
    padding: 20px;
  }

  /* Small menu
	--------------------------------------------- */
  .menu-toggle {
    display: inline-block;
    float: right;
    font-size: 1rem !important;
    font-weight: 400;
    padding: 8px 15px;
    border: 1px solid var(--color-french-gray);
    border-radius: 3px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    color: var(--color-trout);
    background-color: var(--color-white-lilac);
  }

  .menu-toggle:hover,
  .menu-toggle:focus {
    border: 1px solid var(--color-malibu);
    background-color: var(--color-malibu);
  }

  .lprd-menu-area {
    position: relative;
  }

  .main-navigation {
    position: absolute;
    left: 0;
    z-index: 99;

    float: none;
    display: block;
    background-color: var(--color-white);
    -webkit-box-shadow: 0 25px 90px rgb(0 0 0 / 5%);
    box-shadow: 0 25px 90px rgb(0 0 0 / 5%);
    padding: 0px;
    width: 100%;
  }

  .main-navigation ul {
    display: block;
  }

  .main-navigation li {
    display: block;
  }

  .main-navigation .page_item_has_children:active > ul,
  .main-navigation .page_item_has_children:hover > ul,
  .main-navigation .page_item_has_children.focus > ul,
  .main-navigation .menu-item-has-children:active > ul,
  .main-navigation .menu-item-has-children:hover > ul,
  .main-navigation .menu-item-has-children.focus > ul {
    position: relative !important;
    left: auto;
    right: auto;
    display: block;
    margin-left: 20px;
    left: unset;

    background-color: unset;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    width: auto;
    text-align: left;
    border-radius: 0;
    border-top: 2px solid var(--color-malibu);
  }

  .main-navigation ul .page_item_has_children > a::before,
  .main-navigation ul .menu-item-has-children > a::before {
    content: "";
    border: solid var(--color-trout);
    border-width: 0 2px 2px 0;
    padding: 3px;
    position: absolute;
    right: 20px;
    top: calc(47%);
    -webkit-transform: rotate(45deg) translateY(calc(-50%));
    -ms-transform: rotate(45deg) translateY(calc(-50%));
    transform: rotate(45deg) translateY(calc(-50%));
    display: block;
    pointer-events: none;
    z-index: 10000;
  }

  .menu-toggle-area {
    display: block;
  }
  .hidden-mobile {
    display: none !important;
  }

  .main-navigation a,
  .menu .page_item a,
  .menu .menu-item a {
    padding: 12px 20px;
	position: relative;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h1,
  .h1 {
    font-size: 2.375rem;
  }
  h2,
  .h2 {
    font-size: 2rem;
  }
}

/*For Wide Mobile Layout*/
@media only screen and (max-width: 767px) {
  body {
    --lprd-heading-one: 1.875rem;
    --lprd-heading-two: 1.5rem;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.25;
  }
  h1,
  .h1 {
    font-size: 2.25rem;
  }

  h2,
  .h2 {
    font-size: 1.875rem;
  }

  h3,
  .h3 {
    font-size: 1.5rem;
  }

  .lprd-default-page-container,
  .lprd-sidebar-border {
    margin-top: 40px;
  }
  .lprd-blog-page,
  .lprd-page {
    padding: 0 0 40px 0;
  }
  .lprd-single-post-item,
  .lprd-page-item {
    margin-bottom: 30px;
  }
  .lprd-archive-page header.page-header,
  .lprd-search-page header.page-header {
    margin-bottom: 30px;
  }
  .lprd-breadcrumbs-area {
    padding: 50px 0;
  }

  /* 404 css
		--------------------------------------------- */
  .lprd-blog-page.lprd-404-page {
    padding: 60px 0;
    height: auto;
  }
  .lprd-404-content h1 {
    font-size: 150px;
  }
}

/*For modern Wide Mobile Layout*/
@media only screen and (max-width: 575px) {
}

/*For 320-384px up Mobile Layout*/
@media only screen and (max-width: 479px) {
}

@media screen and (max-width: 782px) {
}

@media screen and (max-width: 600px) {
}
